.terraform/*
.\terraform\providers\terraform-provider-aws_v2.70.0_x5.exe
.terraform.lock.hcl
terraform.tfstate.backup
.\terraform\providers\terraform-provider-azurerm_v3.82.0_x5.exe
.\terraform\providers\terraform-provider-azurerm_v3.79.0_x5.exe
